VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Supabase Backend Configuration
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=templates

# GitHub Integration
GITHUB_TOKEN=
GITHUB_REPO=templr-metadata
GITHUB_OWNER=
GITHUB_REPO_LIST=owner/repo1,owner/repo2
VITE_GITHUB_OWNER=
VITE_GITHUB_REPO=templr-metadata

# GitLab Integration
GITLAB_TOKEN=
GITLAB_PROJECT_LIST=project_id_1,project_id_2,akua67771/temprl-2

# Repository Settings
REPO_THRESHOLD=1000

# ImgBB Integration
IMGBB_API_KEY=

# Imge Integration
IMGE_API_KEY=

# ImgHippo Integration
IMGHIPPO_API_KEY=0bd1d234918f906d353775d006d2b771

# iimg.live Integration
IIMG_LIVE_API_KEY=pk_7b0d0efe2149cace9421be28c007011d

# BeeIMG Integration
BEEIMG_API_KEY=098dccd10fb840e72711cdf846b50222

# Catbox Integration
CATBOX_USERHASH=

# MySQL Database Configuration
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Telegram Integration
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
